# Native-client build output (until I move this elsewhere)
org.explang.cli.clikt

# Local data directory contents
/data/*

# Non-shared IDE project files
.idea/libraries/*
.idea/shelf/*
.idea/workspace.xml

# IDE build outputs
out

# Gradle installation and outputs
.gradle
build

# Editor swap files
.swp

# Mac junk
.DS_Store
